@page "/categoria/add"
@inject IRepositorio repositorio
@inject NavigationManager NavigationManager
@inject IMostrarMensagens MostrarMensagem

<h3>Adicionar Categoria</h3>

<FormularioCategoria Categoria="Categoria" OnvalidSubmit="Adicionar" />

@code {
    Categoria Categoria = new Categoria();

    private async Task Adicionar()
    {
        var httpResponse = await repositorio.Post("api/categoria", Categoria);

        if (httpResponse.Error)
        {
            await MostrarMensagem.MostrarMensagemErro(await httpResponse.GetBody());
        }
        else
        {
            NavigationManager.NavigateTo("/categoria");

        }

    }
}
