
<div class="filme">
    <div class="card" style="width: 18rem;">
        <img src="img/rambo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                Título: <b> @Filme.Titulo</b>
            </h5>
            <p class="card-text">
                Lançamento:<b>@Filme.Lancamento.ToString("dd/MM/yyyy")</b>
            </p>
            <a href="#" class="btn btn-primary">
                Ver Filme
            </a>
            @if (MostrarBotao)
            {
                <button class="btn btn-danger" @onclick="@(() => ExcluirFilme.InvokeAsync(Filme))">Excluir</button>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public Filme Filme { get; set; }
    [Parameter] public bool MostrarBotao { get; set; } = false;
    [Parameter] public EventCallback<Filme> ExcluirFilme { get; set; }
   
}
