
<div>
    @*Editar Lista:<input type="checkbox" @onchange="@(() => MostrarBotao = !MostrarBotao)" />*@
    Editar Lista:<input type="checkbox" @bind="MostrarBotao" />
</div>


<div class="filmes">

    <ListaGenerica Lista="Filmes">
        @*<Registros Context="filme">*@
        <Registros>
            <FilmeIndividual Filme="context" MostrarBotao="MostrarBotao" ExcluirFilme="ExcluirFilme" />
        </Registros>
    </ListaGenerica>

</div>
}

@code {

    [Parameter] public List<Filme> Filmes { get; set; }
    [Parameter] public bool MostrarBotao { get; set; } = false;


    void ExcluirFilme(Filme filme)
    {
        Console.WriteLine($"Removendo FIlme: {filme.Titulo}");
        Filmes.Remove(filme);
    }
}
