
<div>
    @*Editar Lista:<input type="checkbox" @onchange="@(() => MostrarBotao = !MostrarBotao)" />*@
    Editar Lista:<input type="checkbox" @bind="MostrarBotao" />
</div>


<div class="filmes">

    <ListaGenerica Lista="Filmes">
        @*<Registros Context="filme">*@
        <Registros>
            <FilmeIndividual Filme="context" MostrarBotao="MostrarBotao" ExcluirFilme="ExcluirFilme" />
        </Registros>
    </ListaGenerica>

</div>
}

@code {

    [Parameter] public List<Filme> Filmes { get; set; }
    [Parameter] public bool MostrarBotao { get; set; } = false;

    protected override void OnInitialized()
    {
        Console.WriteLine($"OnInitialized - Qtde. de Filmes: {Filmes.Count()}");
    }
    protected override void OnParametersSet()
    {
        Console.WriteLine($"OnParametersSet - Qtde. de Filmes: {Filmes.Count()}");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"OnAfterRender: Executado pela 1ª vez? {firstRender}");
    }
    protected override bool ShouldRender()
    {
        Console.WriteLine($"ShouldRender");
        return true;
    }
    void ExcluirFilme(Filme filme)
    {
        Console.WriteLine($"Removendo FIlme: {filme.Titulo}");
        Filmes.Remove(filme);
    }
}
