@page "/filme/add"
@inject NavigationManager navigatorManager


<h3>Adicionar Filme</h3>

<FormularioFilme Filme="Filme" OnValidSubmit="Adicionar" />

@code {

    private Filme Filme = new Filme();

    void Adicionar(){
        Console.WriteLine( navigatorManager.Uri );
        navigatorManager.NavigateTo("filme");
    }

}
