@page "/filme/edit/{FilmeId:int}"

<h3>Editar Filme</h3>

<FormularioFilme Filme="Filme" OnValidSubmit="Editar" />

@code {

    [Parameter] public int FilmeId { get; set; }

    private Filme Filme = new Filme();

    protected override void OnInitialized()
    {
        Filme = new Filme() { Id = FilmeId, Titulo = "Titulo filme!" };
    }

    void Editar()
    {

    }
}
