@page "/"
@inject IRepositorio repositorio

<div>
    <h3>Lista de Filmes:</h3>
</div>
<div>
    <ListarFilmes Filmes="Filmes" />
</div>


@code {

    public List<Filme> Filmes { get; set; }

    protected override void OnInitialized()
    {
        GetAllFilmes();
    }

    private List<Filme> GetAllFilmes()
    {
        return Filmes = repositorio.GetAllFilmes();
    }


}
