@inherits InputTextArea
@using System.Linq.Expressions
@typeparam T

    <div>
        <label>@Label</label>
        <div>
            <InputTextArea @bind-Value="CurrentValue" />
            <ValidationMessage For="For" />
        </div>
    </div>
    <div>
        <label>@Label (Preview):</label>
        <div class="markdown-container" style="overflow:auto;">
            <MostrarMarkdown ConteudoMarkdown="@CurrentValue">

            </MostrarMarkdown>
        </div>
    </div>

@code {

    [Parameter] public Expression<Func<T>> For { get; set; }
    [Parameter] public string Label { get; set; }

}
