
<div>
    @*Editar Lista:<input type="checkbox" @onchange="@(() => MostrarBotao = !MostrarBotao)" />*@
    Editar Lista:<input type="checkbox" @bind="MostrarBotao" />
</div>

<div class="filmes">
    <ListaGenerica Lista="Filmes" >
        <Registros Context="filmeContext"  >
            <FilmeIndividual Filme="filmeContext" MostrarBotao="MostrarBotao" ExcluirFilme="ExcluirFilme"  />
        </Registros>
    </ListaGenerica>
</div>

<div>
    <ModalGenerico @ref="modalGenerico" onConfirm="ModalConfirm" onCancel="ModalCancel">
        <div>
            <p>Deseja Excluir o Filme  @FilmeCascade.Titulo?</p>
        </div>
    </ModalGenerico>
</div>
}

